.container {
  margin: 0 auto;
  width: 768px;
}

.campaign {
  position: relative;
}

.flow_wrapper {
  position: relative;
  padding-bottom: 150px;
}

.flow {
  position: absolute;
  z-index: -1;
  background-color: #999999;
  opacity: .6;
  left: 10%;
  top: 25px;
  width: 622px;
  height: 3986px;
}

.flow_content_first {
  padding-bottom: 150px;
}

.flow_content_second {
  padding-left: 6px;
  padding-bottom: 150px;
}

.flow_content_third {
  padding-left: 20px;
  padding-bottom: 100px;
}

.faq_top {
  width: 91%;
  margin: 0 auto;
}

.faq_body {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.faq_content {
  border-bottom: .9px gray solid;
}

.faq_summary {
  font-size: 1.7rem;
  background-color: #E6E6E6;
  margin: 0;
  padding: 25px 75px 25px 39px;
  position: relative;
}

.faq_summary_icon_open {
  position: absolute;
  top: 0;
  right: 2.5rem;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.54);
  border-width: 2px 2px 0 0;
  transform: rotate(135deg);
  transition: transform 0.2s ease;
}

.faq_summary_icon_close {
  position: absolute;
  top: 0;
  right: 2.5rem;
  bottom: 0;
  width: 15px;
  height: 15px;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.54);
  border-width: 2px 2px 0 0;
  transform: rotate(-45deg);
  transition: transform 0.2s ease;
}

.faq_detail {
  font-family: inherit;
  font-size: 1.55rem;
  line-height: 2.7rem;
  letter-spacing: 0;
  margin: 0;
}

.footer {
  padding-bottom: 4rem;
  text-align: center;
}

.footer_img {
  padding-bottom: 0.5rem;
}

.cta_button {
  font-family: inherit;
  font-size: 30px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #EC6B5F;
  padding: 25px 90px;
  border-radius: 50px;
  letter-spacing: 0.08rem;
  position: absolute;
  bottom: 43%;
  left: 14.4%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.cta_button:hover {
  background-color: #EC6B5F;
}