.container {
  margin: 0 auto;
  width: 768px;
}

.campaign {
  position: relative;
}

.flow {
  position: absolute;
  z-index: -1;
  background-color: #999999;
  opacity: .6;
  left: 10%;
  top: 25px;
  width: 622px;
  height: 3986px;
}

.flow_content_first {
  padding-bottom: 150px;
}

.flow_content_second {
  padding-left: 6px;
  padding-bottom: 150px;
}

.flow_content_third {
  padding-left: 20px;
  padding-bottom: 100px;
}

.faq {
  width: 91%;
  margin: 0 auto;
}

.footer {
  padding: 2rem 0 4rem 0;
  text-align: center;
}

.footer_img {
  padding-bottom: 0.5rem;
}

.cta_button {
  font-family: inherit;
  font-size: 30px;
  color: #FFFFFF;
  background-color: #EC6B5F;
  padding: 25px 90px;
  border-radius: 50px;
  letter-spacing: 0.08rem;
  position: absolute;
  bottom: 43%;
  left: 14.4%;
  border: white 1px solid;
}

.cta_button:hover {
  background-color: #EC6B5F;
}